@import 'src/style/var.less';

.drawer {
  :global {
    .ant-drawer-header {
      padding: 10px 18px 0;
      border: none;
    }
    .ant-drawer-title {
      display: flex;
      margin-left: 16px;
    }
    .ant-drawer-body {
      padding: 0 8px 8px;
    }
    .ant-drawer-close {
      font-size: 22px;
      color: @color-gray-3;
    }
  }  
}
