@color-primary: var(--digio-brand-primary);
@color-brand-3: var(--digio-brand-3);
@color-brand-6: var(--digio-brand-6, #AFD8EE);
@color-brand-7: var(--digio-brand-7);
@color-brand-9: var(--digio-brand-9, #e4f2f9);
@color-brand-10: var(--digio-brand-10, #F2F8FB);

@color-white: var(--digio-color-white, #fff);
@color-black-3: var(--digio-color-black-3, #929AA9);

@color-gray-1: var(--digio-color-gray-1, #181a21); // text
@color-gray-3: var(--digio-color-gray-3, #363a4a); // text
@color-gray-4: var(--digio-color-gray-4, #5d6573); // tag
@color-gray-5: var(--digio-color-gray-5, #8e96a3); // progress
@color-gray-6: var(--digio-color-gray-6, #b5bbc5);
@color-gray-7: var(--digio-color-gray-7, #DBDCE2); // border color
@color-gray-8: var(--digio-color-gray-8, #e7e8eb); // border color
@color-gray-9: var(--digio-color-gray-9, #ededf0); // header background
@color-gray-10: var(--digio-color-gray-10, #f5f5f8); // background
@color-gray-10b: var(--digio-color-gray-10b, #F8F8F8); // background
@color-gray-11: var(--digio-color-gray-11, #FBFBFB); // background

@color-other-1: #c5cbd5; // default tag border background
@important-color: #FDF8E8;

@color-border: var(--digio-color-border, #dde3ea);
@color-table-title: var(--digio-color-table-title, #EAEFF3);

@color-yellow: var(--digio-color-yellow, #F1AE02);
@color-red: var(--digio-color-red, #e14851); // error, tag, progress
@color-green: var(--digio-color-green, #2ba84e); // success, tag, progress
@color-blue: var(--digio-color-blue, #3692ff); // progress, tag
@color-blue-2: var(--digio-color-blue-2, #0778B1); // progress, tag
@color-purple: var(--digio-color-purple, #c276e8); // tag
@color-orange: var(--digio-color-orange, #FFA363);

@bg-gray-4: var(--digio-bg-gray-4, #5D657314); // error, tag, progress

@bg-red: var(--digio-bg-red, rgba(225, 72, 81, 0.12)); // error, tag, progress
@bg-green: var(--digio-bg-green, rgba(43, 168, 78, 0.12)); // success, tag, progress
@bg-blue: var(--digio-bg-blue, rgba(54, 146, 255, 0.12)); // progress, tag
@bg-purple: var(--digio-bg-purple, rgba(194, 118, 232, 0.12)); // tag
@bg-yellow: var(--digio-bg-yellow, rgba(241, 174, 2, 0.1));

@box-shadow-4: var(--digio-shadow-4, 0px 8px 32px 0px #012a3f1f);
@box-shadow-table: 0px 4px 24px 0px #0429530A;
@mobile-breakpoint: 768px;
