@import 'src/style/var.less';

.container {
  height: 100%;
  background-color: var(--digio-bg);

  &.withHeader {
    min-height: 400px;
  }

  &.forPrinting {
    background-color: transparent;
  }
}