.item {
  padding: 6px 16px;
  cursor: pointer;
  width: 100%;

  &:hover {
    background-color: var(--digio-color-gray-10b);
  }
}

.icon {
  flex-shrink: 0;
}

.moduleIcon {
  width: 40px;
  height: 40px;
}

.contentContainer {
  flex: 1;
}

.content {
  font-size: 13px;
  color: var(--digio-color-gray-900);
  line-height: 20px;
  word-break: break-all;
}

.time {
  font-size: 12px;
  color: var(--digio-color-gray-5);
  line-height: 18px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--digio-brand-3);
  align-self: center;
}
