.divider {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.divider__line {
  flex: 1;
  height: 1px;
  background: #e4e6ec;
}

.divider__label {
  flex: 0 0 auto;
  color: #969ab8;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.1px;
}
